.box1
{
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 5px;
}

/* Shorthand */
/* 1 value - all sides */
/* 2 values - top bottom / left right */
/* 3 values - top / left right / bottom */
/* 4 values - top / right / bottom / left */
.box2
{
    padding: 10px;
    padding: 20px 10px;
    padding: 5px 10px 20px;
    padding: 5px 10px 15px 20px;
}

.box3
{
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 30px;
    margin-bottom: 5px;
}

/* Shorthand */
/* 1 value - all sides */
/* 2 values - top bottom / left right */
/* 3 values - top / left right / bottom */
/* 4 values - top / right / bottom / left */
.box4
{
    margin: 10px 20px 30px 40px;
}

.mix-borders
{
    height: 100px;
    width: 200px;
    /* style - solid dashed dotted double */
    border-style: dotted;
    border-color: pink;
    /* Shorthand */
/* 1 value - all sides */
/* 2 values - top bottom / left right */
/* 3 values - top / left right / bottom */
/* 4 values - top / right / bottom / left */
    border-width: 4px 8px 12px;
    border: 10px solid brown;
}

.circle-container
{
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 50%;
}